* {
  box-sizing: border-box;
}
body {
  margin-top: 20px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #c3d9e0;
  font-size: 0.8125rem;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.set {
  padding-top: 10px;
  width: 100%;
  padding-bottom: 5px;
  white-space: nowrap;
  font-size: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
}
.key {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  font-size: 13px;
  vertical-align: top;
  cursor: pointer;
}
.set .white {
  height: 300px;
  width: 5em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #eee 0, #fff 100%);
}
.white.active {
  height: 300px;
  width: 5em;
  z-index: 1;
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0, #2be1e7 100%);
}
.black.active {
  height: 150px;
  width: 3em;
  margin: 0 0 100px -1.5em;
  z-index: 2;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to top, #15e7dd 0, #222222 100%);
}
.black {
  height: 150px;
  width: 3em;
  margin: 0 0 100px -1.5em;
  z-index: 2;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0, #555 100%);
}
.a,
.c,
.d,
.f,
.g {
  margin: 0 0 0 -1.5em;
}

.white:active .note1,
.white .note1,
.black:active .note1,
.black .note1 {
  bottom: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #aaa;
}

@media (max-width: 768px) {
  body {
    margin-left: 0;
  }

  .set .white {
    height: 150px;
    width: 3.5em;
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
      0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0, #fff 100%);
  }
  .white.active {
    height: 150px;
    width: 3.5em;
    z-index: 1;
    border-top: 1px solid #777;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
      -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0, #2be1e7 100%);
  }
  .black.active {
    height: 80px;
    width: 2.8em;
    margin: 0 0 100px -1.4em;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
      0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, rgb(29, 197, 226) 51.5%, #222222 100%);
  }
  .black {
    height: 80px;
    width: 2.8em;
    margin: 0 0 100px -1.4em;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
      0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0, #555 100%);
  }

  .a,
  .c,
  .d,
  .f,
  .g {
    margin: 0 0 0 -1.4em;
  }

  .white:active .note1,
  .white .note1,
  .black:active .note1,
  .black .note1 {
    font-size: 10px;
  }

  .black.active .note1 {
    color: #ffffff;
  }
}
